dist
node_modules
.idea
.vscode
*.log
firebase-auth-config.json
firebase-admin-sdk.json
config/spawn-platform.json
serviceAccountKey.json
src/config/web-services.json
config/web-spawn-platform.json
src/config/web-spawn-platform.json
local.env
.env
