/dist
/node_modules/
/.idea/
/code/
/.vscode
*.log
.DS_Store
serviceAccountKey.json
firebase-auth-config.json
firebase-admin-sdk.json
spawn-platform.json

config/*.json
local.env
.env.prod
.ev.stage
.env.dev
.scannerwork
*lock*
*.out
