dist
node_modules
.idea
.vscode
*.log
serviceAccountKey.json
firebase-auth-config.json
firebase-admin-sdk.json
config/spawn-platform.json
config/web-spawn-platform.json
config/firebase-service-account.json
src/config/web-services.json
src/config/web-spawn-platform.json
config/
src/config
local.env
.scannerwork
*lock*
*.out
